{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .result {
            width: 5em;
        }

        .dropdown {
            background: white;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block body %}

    {% set _result = " " %}
    {% if result is defined  %}
        {% set _result = result %}
    {% endif %}

    <div class="row d-flex align-items-center justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">
            <h1 style="text-align:center">Calculator</h1>
            <table class="table table-dark align-middle">
                <tbody>
                <tr>
                    <td><textarea class="form-control" id="operand1" rows="1"></textarea></td>
                    <td>
                        <select class="form-select" aria-label="Operation" id="operation">
                            <option selected>+</option>
                            <option value="1">-</option>
                            <option value="2">*</option>
                            <option value="3">:</option>
                        </select>
                    </td>
                    <td><textarea class="form-control" id="operand2" rows="1"></textarea></td>
                    <td>=</td>
                    <td id="result"></td>
                </tr>
                </tbody>
            </table>

        </div>
        <!--Grid column-->

    </div>

    {% block javascripts %}
        <script src="js/calculator.js"></script>
    {% endblock %}

{% endblock %}
