{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="js/calculator.js"></script>
    <script>
        function operationChosen(element) {
            var dropDonwMenuBackup = $("#dropdownMenuButton1").text();
            console.log(element);
            $("#dropdownMenuButton1").text($(element).text());
            $(element).text(dropDonwMenuBackup);
            $(".dropdown-menu").dropdown('update');
        }
    </script>
{% endblock %}
{% block stylesheets %}
    <style>
        .result {
            width: 5em;
        }

        .dropdown {
            background: white;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block body %}

    {% set _result = " " %}
    {% if result is defined  %}
        {% set _result = result %}
    {% endif %}

    <div class="row d-flex align-items-center justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">
            <h1 style="text-align:center">Calculator</h1>
            <table class="table table-dark align-middle">
                <tbody>
                <tr>
                    <td><textarea class="form-control" id="operand1" rows="1"></textarea></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                +
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="" onclick='operationChosen(this)'>-</a></li>
                                <li><a class="dropdown-item" href="" onclick='operationChosen(this)'>*</a></li>
                                <li><a class="dropdown-item" href="" onclick='operationChosen(this)'>/</a></li>
                            </ul>
                        </div>
                    </td>
                    <td><textarea class="form-control" id="operand2" rows="1"></textarea></td>
                    <td>=</td>
                    <td class="result" id="resAdd">{{ _result }}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <!--Grid column-->

    </div>

{% endblock %}
