{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="js/calculator.js"></script>
{% endblock %}
{% block stylesheets %}
    <style>
        .result {
            width: 5em;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="row d-flex align-items-center justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">
            <h1 style="text-align:center">Calculator</h1>
            <table class="table table-dark align-middle">
                <tbody>
                <tr>
                    <td><textarea class="form-control" id="add1" rows="1"></textarea></td>
                    <td>+</td>
                    <td><textarea class="form-control" id="add2" rows="1"></textarea></td>
                    <td>=</td>
                    <td class="result" id="resAdd">{{ result }}</td>
                </tr>
                <tr>
                    <td><textarea class="form-control" id="subtract1" rows="1"></textarea></td>
                    <td>-</td>
                    <td><textarea class="form-control" id="subtract2" rows="1"></textarea></td>
                    <td>=</td>
                    <td class="result" id="resSub">{{ result }}</td>
                </tr>
                <tr>
                    <td><textarea class="form-control" id="multiply1" rows="1"></textarea></td>
                    <td>*</td>
                    <td><textarea class="form-control" id="multiply2" rows="1"></textarea></td>
                    <td>=</td>
                    <td class="result" id="resMul">{{ result }}</td>
                </tr>
                <tr>
                    <td><textarea class="form-control" id="divide1" rows="1"></textarea></td>
                    <td>/</td>
                    <td><textarea class="form-control" id="divide2" rows="1"></textarea></td>
                    <td>=</td>
                    <td class="result" id="resDiv">{{ result }}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <!--Grid column-->

    </div>

{% endblock %}
